@use '../../../../assets/styles/functions/rem' as *;
@use '../../../../assets/styles/mixins/flexbox' as *;
app-change-password {
  .change-password {
    min-height: 100vh;
    @include flex-center;
    padding: 1rem;
    background: var(--color-background-gradient);

    &__container {
      width: 100%;
      max-width: 28rem;
    }

    &__card {
      padding: 2rem;
      border-radius: 1rem;
      box-shadow: var(--shadow-elevation-2);
    }

    &__header {
      text-align: center;
      margin-bottom: 2rem;
    }

    &__title {
      font-size: rem(32);
      font-weight: 700;
      color: var(--color-primary-dark);
      margin: 0;
    }

    &__content {
      margin-bottom: 1.5rem;
    }

    &__form {
      @include flex-column;
      gap: 1.5rem;
    }

    &__field {
      width: 100%;
    }

    &__submit {
      width: 100%;
      height: 3rem;
      font-size: rem(16);
      font-weight: 600;
    }

    &__footer {
      @include flex-center;
      padding-top: 1rem;
    }
  }
}
