<div class="change-password">
  <div class="change-password__container">
    <mat-card class="change-password__card">
      <mat-card-header class="change-password__header">
        <h1 class="change-password__title">{{ labels.CHANGE_PASSWORD }}</h1>
      </mat-card-header>

      <mat-card-content class="change-password__content">
        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" class="change-password__form">
          <mat-form-field appearance="outline" class="change-password__field">
            <mat-label>{{ labels.CURRENT_PASSWORD }}</mat-label>
            <input 
              matInput 
              [attr.type]="hideCurrentPassword() ? 'password' : 'text'"
              formControlName="currentPassword"
              [attr.aria-label]="labels.CURRENT_PASSWORD"
              [attr.autocomplete]="'current-password'"
              [attr.autofocus]="''"
            />
            <mat-icon matPrefix>{{ icons.LOCK }}</mat-icon>
            <app-icon-button
              [icon]="hideCurrentPassword() ? icons.VISIBILITY_OFF : icons.VISIBILITY"
              [tooltip]="hideCurrentPassword() ? labels.TOOLTIP_SHOW_PASSWORD : labels.TOOLTIP_HIDE_PASSWORD"
              [ariaLabel]="ariaLabels.TOGGLE_PASSWORD_VISIBILITY"
              [clickHandler]="toggleCurrentPasswordVisibility.bind(this)"
              matSuffix
            ></app-icon-button>
            @if (hasCurrentPasswordRequiredError) {
              <mat-error>{{ MESSAGES.REQUIRED_FIELD }}</mat-error>
            }
          </mat-form-field>

          <mat-form-field appearance="outline" class="change-password__field">
            <mat-label>{{ labels.NEW_PASSWORD }}</mat-label>
            <input 
              matInput 
              [attr.type]="hidePassword() ? 'password' : 'text'"
              formControlName="password"
              [attr.aria-label]="labels.NEW_PASSWORD"
              [attr.autocomplete]="'new-password'"
            />
            <mat-icon matPrefix>{{ icons.LOCK }}</mat-icon>
            <app-icon-button
              [icon]="hidePassword() ? icons.VISIBILITY_OFF : icons.VISIBILITY"
              [tooltip]="hidePassword() ? labels.TOOLTIP_SHOW_PASSWORD : labels.TOOLTIP_HIDE_PASSWORD"
              [ariaLabel]="ariaLabels.TOGGLE_PASSWORD_VISIBILITY"
              [clickHandler]="togglePasswordVisibility.bind(this)"
              matSuffix
            ></app-icon-button>
            @if (hasPasswordRequiredError) {
              <mat-error>{{ MESSAGES.REQUIRED_FIELD }}</mat-error>
            }
            @if (hasPasswordValidationError) {
              <mat-error>{{ MESSAGES.INVALID_PASSWORD }}</mat-error>
            }
          </mat-form-field>

          <mat-form-field appearance="outline" class="change-password__field">
            <mat-label>{{ labels.CONFIRM_NEW_PASSWORD }}</mat-label>
            <input 
              matInput 
              [attr.type]="hideConfirmPassword() ? 'password' : 'text'"
              formControlName="confirmPassword"
              [attr.aria-label]="labels.CONFIRM_NEW_PASSWORD"
              [attr.autocomplete]="'new-password'"
            />
            <mat-icon matPrefix>{{ icons.LOCK }}</mat-icon>
            <app-icon-button
              [icon]="hideConfirmPassword() ? icons.VISIBILITY_OFF : icons.VISIBILITY"
              [tooltip]="hideConfirmPassword() ? labels.TOOLTIP_SHOW_PASSWORD : labels.TOOLTIP_HIDE_PASSWORD"
              [ariaLabel]="ariaLabels.TOGGLE_PASSWORD_VISIBILITY"
              [clickHandler]="toggleConfirmPasswordVisibility.bind(this)"
              matSuffix
            ></app-icon-button>
            @if (hasConfirmPasswordRequiredError) {
              <mat-error>{{ MESSAGES.REQUIRED_FIELD }}</mat-error>
            }
            @if (hasPasswordMismatchError) {
              <mat-error>{{ MESSAGES.PASSWORD_MISMATCH }}</mat-error>
            }
          </mat-form-field>

          <app-submit-button
            [label]="labels.SUBMIT"
            [isLoading]="isLoading()"
            [disabled]="changePasswordForm.invalid"
            type="submit"
            class="change-password__submit"
            [tooltip]="changePasswordForm.invalid ? labels.TOOLTIP_FORM_DISABLED : ''"
          ></app-submit-button>
        </form>
      </mat-card-content>

      <mat-card-footer class="change-password__footer">
        <app-back-to-link
          [route]="routes.PROFILE"
          [label]="labels.BACK_TO_PROFILE || 'Back to Profile'"
        ></app-back-to-link>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
