@use '../../../../assets/styles/mixins/links' as *;
@use '../../../../assets/styles/mixins/flexbox' as *;
@use '../../../../assets/styles/functions/rem' as *;

.back-link {
  @include link-secondary;
  @include flex-center;
  gap: var(--spacing-xs);

  &__icon {
    font-size: var(--font-size-base);
    width: var(--font-size-base);
    height: var(--font-size-base);
  }
}
