<div class="login">
  <div class="login__container">
    <mat-card class="login__card">
      <mat-card-header class="login__header">
        <h1 class="login__title">{{ labels.LOGIN }}</h1>
      </mat-card-header>

      <mat-card-content class="login__content">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login__form">
          <app-email-input
            [label]="labels.EMAIL"
            [control]="loginForm.get(formControls.LOGIN_ID)!"
            [ariaLabel]="labels.EMAIL"
            [autofocus]="true"
            class="login__field"
          ></app-email-input>

          <app-password-input
            [label]="labels.PASSWORD"
            [control]="loginForm.get(formControls.PASSWORD)!"
            [ariaLabel]="labels.PASSWORD"
            [autocomplete]="'current-password'"
            class="login__field"
          ></app-password-input>

          <div class="login__options">
            <mat-checkbox [formControlName]="formControls.REMEMBER_ME" class="login__remember">
              {{ labels.REMEMBER_ME }}
            </mat-checkbox>
            <a
              (click)="navigateWithEmail($event, routes.FORGOT_PASSWORD)"
              class="login__forgot-link"
              style="cursor: pointer"
            >
              {{ labels.FORGOT_PASSWORD }}
            </a>
          </div>

          <app-submit-button
            [label]="labels.LOGIN"
            [isLoading]="(combinedLoading$ | async) || false"
            [disabled]="loginForm.invalid"
            [tooltip]="loginForm.invalid ? labels.TOOLTIP_FORM_DISABLED : ''"
            type="submit"
            class="login__submit"
          ></app-submit-button>
        </form>
      </mat-card-content>

      <mat-card-footer class="login__footer">
        <p class="login__footer-text">
          {{ labels.DONT_HAVE_ACCOUNT }}
          <a
            (click)="navigateWithEmail($event, routes.REGISTER)"
            class="login__register-link"
            style="cursor: pointer"
          >
            {{ labels.REGISTER_HERE }}
          </a>
        </p>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
