<div class="reset-password">
  <div class="reset-password__container">
    <mat-card class="reset-password__card">
      <mat-card-header class="reset-password__header">
        <h1 class="reset-password__title">{{ labels.RESET_PASSWORD }}</h1>
      </mat-card-header>

      <mat-card-content class="reset-password__content">
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="reset-password__form">
          <mat-form-field appearance="outline" class="reset-password__field">
            <mat-label>{{ labels.NEW_PASSWORD }}</mat-label>
            <input 
              matInput 
              [attr.type]="hidePassword() ? 'password' : 'text'"
              formControlName="password"
              [attr.aria-label]="labels.NEW_PASSWORD"
              [attr.autocomplete]="'new-password'"
              [attr.autofocus]="''"
            />
            <mat-icon matPrefix>{{ icons.LOCK }}</mat-icon>
            <app-icon-button
              [icon]="hidePassword() ? icons.VISIBILITY_OFF : icons.VISIBILITY"
              [tooltip]="hidePassword() ? labels.TOOLTIP_SHOW_PASSWORD : labels.TOOLTIP_HIDE_PASSWORD"
              [ariaLabel]="ariaLabels.TOGGLE_PASSWORD_VISIBILITY"
              [clickHandler]="togglePasswordVisibility.bind(this)"
              matSuffix
            ></app-icon-button>
            @if (hasPasswordRequiredError) {
              <mat-error>{{ MESSAGES.REQUIRED_FIELD }}</mat-error>
            }
            @if (hasPasswordValidationError) {
              <mat-error>{{ MESSAGES.INVALID_PASSWORD }}</mat-error>
            }
          </mat-form-field>

          <mat-form-field appearance="outline" class="reset-password__field">
            <mat-label>{{ labels.CONFIRM_NEW_PASSWORD }}</mat-label>
            <input 
              matInput 
              [attr.type]="hideConfirmPassword() ? 'password' : 'text'"
              formControlName="confirmPassword"
              [attr.aria-label]="labels.CONFIRM_NEW_PASSWORD"
              [attr.autocomplete]="'new-password'"
            />
            <mat-icon matPrefix>{{ icons.LOCK }}</mat-icon>
            <app-icon-button
              [icon]="hideConfirmPassword() ? icons.VISIBILITY_OFF : icons.VISIBILITY"
              [tooltip]="hideConfirmPassword() ? labels.TOOLTIP_SHOW_PASSWORD : labels.TOOLTIP_HIDE_PASSWORD"
              [ariaLabel]="ariaLabels.TOGGLE_PASSWORD_VISIBILITY"
              [clickHandler]="toggleConfirmPasswordVisibility.bind(this)"
              matSuffix
            ></app-icon-button>
            @if (hasConfirmPasswordRequiredError) {
              <mat-error>{{ MESSAGES.REQUIRED_FIELD }}</mat-error>
            }
            @if (hasPasswordMismatchError) {
              <mat-error>{{ MESSAGES.PASSWORD_MISMATCH }}</mat-error>
            }
          </mat-form-field>

          <app-submit-button
            [label]="labels.SUBMIT"
            [isLoading]="isLoading()"
            [disabled]="resetPasswordForm.invalid"
            type="submit"
            class="reset-password__submit"
            [tooltip]="resetPasswordForm.invalid ? labels.TOOLTIP_FORM_DISABLED : ''"
          ></app-submit-button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
