.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__main {
    flex: 1;
    min-height: calc(100vh - 4rem);
    position: relative;
    overflow-x: hidden;
  }

  &__router-wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
    
    > * {
      display: block;
    }
  }
}
