@import '../variables/breakpoints';

@mixin respond-to($breakpoint) {
  @if $breakpoint == xs {
    @media (min-width: $breakpoint-xs) {
      @content;
    }
  } @else if $breakpoint == sm {
    @media (min-width: $breakpoint-sm) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (min-width: $breakpoint-md) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (min-width: $breakpoint-lg) {
      @content;
    }
  } @else if $breakpoint == xl {
    @media (min-width: $breakpoint-xl) {
      @content;
    }
  }
}

@mixin respond-below($breakpoint) {
  @if $breakpoint == sm {
    @media (max-width: $breakpoint-sm - 0.0625rem) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (max-width: $breakpoint-md - 0.0625rem) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (max-width: $breakpoint-lg - 0.0625rem) {
      @content;
    }
  } @else if $breakpoint == xl {
    @media (max-width: $breakpoint-xl - 0.0625rem) {
      @content;
    }
  }
}
