@use '../functions/rem' as *;

/**
 * Typography mixin that calculates font-size and line-height
 * @param {number} $size - Font size in pixels (e.g., 16)
 * @param {number} $line-height-ratio - Line height ratio (default: 1.5)
 * @example
 *   @include font-size(16); // font-size: 1rem; line-height: 1.5rem;
 *   @include font-size(18, 1.6); // font-size: 1.125rem; line-height: 1.8rem;
 */
@mixin font-size($size, $line-height-ratio: 1.5) {
  font-size: rem($size);
  line-height: rem($size * $line-height-ratio);
}
