<mat-form-field appearance="outline" class="password-input">
  <mat-label>{{ label }}</mat-label>
  <input 
    matInput 
    [attr.type]="hidePassword() ? 'password' : 'text'"
    [formControl]="control!"
    [attr.aria-label]="ariaLabel || label"
    [attr.autocomplete]="autocomplete"
    (input)="onInput($event)"
    (blur)="onBlur()"
  />
  <mat-icon matPrefix>{{ icons.LOCK }}</mat-icon>
  <app-icon-button
    [icon]="hidePassword() ? icons.VISIBILITY_OFF : icons.VISIBILITY"
    [tooltip]="hidePassword() ? labels.TOOLTIP_SHOW_PASSWORD : labels.TOOLTIP_HIDE_PASSWORD"
    [ariaLabel]="ariaLabels.TOGGLE_PASSWORD_VISIBILITY"
    [clickHandler]="toggleVisibility.bind(this)"
    matSuffix
  ></app-icon-button>
  @if (hasError) {
    <mat-error>{{ errorMessage }}</mat-error>
  }
</mat-form-field>
