@use '../../../../assets/styles/mixins/flexbox' as *;
app-loading-spinner {
  .loading-spinner {
    &__overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      @include flex-center;
      z-index: var(--z-index-spinner);
    }
  }
}
